* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center; /* Alinea verticalmente */
  background-color: rgb(15, 198, 211);
  width: 100%;
  height: 100px;
  font-size: 16px;
}

.logo img {
  max-width: 6.3rem; /* El logo no será más ancho que 100px */
  height: auto; /* Mantiene la proporción */
  border-radius: 10px;
}

nav {
  display: grid;

  color: #000000;
  display: flex; /* Activa Flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente si es necesario */
  height: 10px; /* Ajusta según el diseño */
  margin-left: 25rem;
}

nav ul {
  background-color: rgb(15, 198, 211);
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
}

nav ul li a {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  padding: -0px 15px; /* Reducimos el padding */
  color: #000000;
  background-color: rgb(15, 198, 211);
  align-items: center;
  transition: background-color 0.3s;
}

.contenedor-flexible {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #000000;
  justify-content: space-between; /* Cambiado para mejor distribución */
  flex-wrap: wrap;
  padding: 30px;
  gap: 20px; /* Añadido para espaciado uniforme */
}

.Title {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  text-align: center;
  color: aliceblue;
  margin: 2rem;
  margin-left: 10rem;
}

.Titlee {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  text-align: center;
  color: aliceblue;
  margin: 2rem;
  margin-top: -10rem;
  margin-left: 10rem;
}

.Title1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  text-align: center;
  color: aliceblue;
  margin: 12rem;
  margin-left: 10rem;
}

.Titulo {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  text-align: center;
  color: aliceblue;
  margin: 5rem;
}

.Titulo1 {
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  margin: 2rem;
  margin-left: 20rem;
}

.Titulo2 {
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  margin: 2rem;
  margin-left: 10rem;
}

.Titulo3 {
  font-size: 25px;
  height: 40px;
  color: #ffffff;
  text-align: center;
  margin-left: 1rem;
}

.Titulo4 {
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  margin: 2rem;
  margin-left: 10rem;
}

.Textoo {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  position: absolute;
  margin: 0 auto; /* Centrado horizontal */
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45%;
  height: 340px;
  padding: 1px;
  margin-right: 53rem;
  order: 1;
  font-size: clamp(16px, 2.5vw, 8px);
  text-align: unset;
  line-height: 1.6;
}

.textoo1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  position: absolute;
  margin: 0 auto; /* Centrado horizontal */
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45%;
  height: 220px;
  padding: 1px;
  margin-top: 10rem;
  margin-right: 53rem;
  order: 1;
  font-size: clamp(16px, 2.5vw, 8px);
  text-align: unset;
  line-height: 1.6;
}

.textoo2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  position: absolute;
  margin: 0 auto; /* Centrado horizontal */
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45%;
  height: 220px;
  padding: 1px;
  margin-top: 25rem;
  margin-right: 53rem;
  order: 1;
  font-size: clamp(16px, 2.5vw, 8px);
  text-align: unset;
  line-height: 1.6;
}

.textoo3 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  position: absolute;
  margin: 0 auto; /* Centrado horizontal */
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45%;
  height: 220px;
  padding: 1px;
  margin-top: 45rem;
  margin-right: 53rem;
  order: 1;
  font-size: clamp(16px, 2.5vw, 8px);
  text-align: unset;
  line-height: 1.6;
}

.textoo4 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  position: absolute;
  margin: 0 auto; /* Centrado horizontal */
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45%;
  height: 220px;
  padding: 1px;
  margin-top: 55rem;
  margin-right: 53rem;
  order: 1;
  font-size: clamp(16px, 2.5vw, 8px);
  text-align: unset;
  line-height: 1.6;
}

.Textoo1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  position: absolute;
  margin: 0 auto; /* Centrado horizontal */
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45%;
  height: 180px;
  padding: 1px;
  margin-top: 55rem;
  margin-right: 53rem;
  order: 1;
  font-size: clamp(16px, 2.5vw, 8px);

  line-height: 1.6;
}

.Textoo2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  position: absolute;
  margin: 0 auto; /* Centrado horizontal */
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45%;
  height: 180px;
  padding: 1px;
  margin-top: 82rem;
  margin-right: 53rem;
  order: 1;
  font-size: clamp(16px, 2.5vw, 8px);
  text-align: unset;
  line-height: 1.6;
}

.Textoo3 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  position: absolute;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45%;
  margin-top: 50rem;
  padding: 1px;
  margin-top: 93rem;
  margin-right: 53rem;
  font-size: clamp(16px, 2.5vw, 8px);
  text-align: unset;
  line-height: 1.6;
}

.Textoo4 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  position: absolute;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95%;
  height: 180px;
  margin-top: 117rem;
  margin-right: 53rem;
  font-size: clamp(16px, 2.5vw, 8px);
  line-height: 1.6;
}

.Textoo5 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  position: absolute;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95%;
  height: 180px;
  margin-top: 127rem;
  margin-right: 53rem;

  font-size: clamp(16px, 2.5vw, 8px);
  line-height: 1.6;
}

.Textoo6 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  position: relative;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95%;
  height: 180px;
  font-size: clamp(16px, 2.5vw, 8px);
  line-height: 1.6;
}

.Textoo7 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  position: absolute;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95%;
  height: 180px;
  margin-top: 57rem;
  font-size: clamp(16px, 2.5vw, 8px);
  line-height: 1.6;
}

.Textoo8 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  position: absolute;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95%;
  height: 180px;
  margin-top: 67rem;
  font-size: clamp(16px, 2.5vw, 8px);
  line-height: 1.6;
}

.Textoo9 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  position: absolute;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95%;
  height: 180px;
  margin-top: 74rem;
  font-size: clamp(16px, 2.5vw, 8px);
  line-height: 1.6;
}

.texto91 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  position: absolute;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95%;
  height: 180px;
  margin-top: 78rem;
  font-size: clamp(16px, 2.5vw, 8px);
  line-height: 1.6;
}

.texto92 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  position: absolute;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95%;
  height: 180px;
  margin-top: 83rem;
  font-size: clamp(16px, 2.5vw, 8px);
  line-height: 1.6;
}

.Texto {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  position: absolute;
  margin: 0 auto; /* Centrado horizontal */
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45%;
  height: 320px;
  padding: 1px;
  margin-right: 53rem;
  order: 1;
  font-size: clamp(16px, 2.5vw, 18px);
  text-align: unset;
  line-height: 1.6;
}

.Texto1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  position: relative;
  margin: 0 auto; /* Centrado horizontal */
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 200px;
  padding: 10px;
  margin-right: 53rem;
  order: 1;
  font-size: clamp(16px, 2.5vw, 20px);
  text-align: unset;
  line-height: 1.6;
  color: rgb(255, 255, 255);
}

.Texto2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  position: absolute;
  font-weight: 600;
  width: 50%;
  height: 350px;
  padding: 10px;
  margin-right: 43rem;
  font-size: clamp(16px, 2.5vw, 18px);
  color: rgb(255, 255, 255);
}

.Texto21 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  position: absolute;
  width: 50%;
  height: 500px;
  margin-top: 10rem;
  padding: 10px;
  margin: 10px;
  font-size: clamp(16px, 2.5vw, 17px);
  margin-left: 36rem;
  color: rgb(255, 255, 255);
}

.Texto3 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  position: relative;
  width: 90%;
  height: auto;
  font-size: clamp(16px, 2.5vw, 9px);
  color: rgb(255, 255, 255);
}

.Texto4 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  position: relative;
  width: 90%;
  height: auto;
  font-size: clamp(16px, 2.5vw, 27px);
  color: rgb(255, 255, 255);
}

.Texto5 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  position: absolute;
  width: 50%;
  height: 300px;
  padding: 0px;
  font-size: clamp(16px, 2.5vw, 18px);
  color: rgb(255, 255, 255);
}

.Texto6 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  position: absolute;
  width: 40%;
  height: 300px;
  margin-top: 10rem;
  padding: 10px;
  margin: 10px;
  font-size: clamp(16px, 2.5vw, 19px);
  margin-right: 36rem;
  color: rgb(255, 255, 255);
}

.Texto7 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  position: absolute;
  width: 50%;
  height: 300px;
  margin-top: 10rem;
  padding: 10px;
  margin: 10px;
  font-size: clamp(16px, 2.5vw, 19px);
  margin-left: 36rem;
  color: rgb(255, 255, 255);
}

.Texto8 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  position: absolute;
  width: 50%;
  height: 500px;
  margin-top: 10rem;
  padding: 10px;
  margin: 10px;
  font-size: clamp(16px, 2.5vw, 17px);
  margin-right: 36rem;
  color: rgb(255, 255, 255);
}

.Texto81 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  position: absolute;
  width: 50%;
  height: 100px;
  margin-top: 10rem;
  padding: 10px;
  margin: 10px;
  font-size: clamp(16px, 2.5vw, 17px);
  margin-right: 36rem;
  color: rgb(255, 255, 255);
}

.Texto9 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  position: absolute;
  width: 50%;
  height: 10px;
  margin-top: 10rem;
  padding: 10px;
  margin: 10px;
  font-size: clamp(16px, 2.5vw, 17px);
  margin-right: 36rem;
  color: rgb(255, 255, 255);
}

.Texto10 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  position: relative;
  width: 90%;
  height: auto;
  font-size: clamp(16px, 2.5vw, 18px);
  color: rgb(255, 255, 255);
}

.Imagen {
  width: 30rem;
  height: 470px;
  position: relative;
  object-fit: cover;
  margin-left: 44rem;
}

.Imagenn1 {
  width: 1000px;
  height: 1000px;
  margin: 7rem;
  margin-left: 10rem;
  position: relative;
}

.Imagenn2 {
  width: 30rem;
  height: 470px;
  margin-top: -4rem;
  position: relative;
  object-fit: cover;
  margin-left: 44rem;
}

.Imagenn3 {
  width: 30rem;
  height: 470px;
  position: relative;
  object-fit: cover;
  margin-top: -10rem;
  margin-left: 25rem;
}

.Imagen1 {
  width: 40rem;
  height: 570px;
  position: relative;
  object-fit: cover;
  margin-left: 44rem;
}

.Imagen2 {
  width: 30rem;
  height: 470px;
  position: relative;
  object-fit: cover;
  margin-left: 44rem;
}

.Imagen21 {
  width: 30rem;
  height: 470px;
  position: relative;
  object-fit: cover;
  margin-right: 44rem;
}

.Imagen3 {
  width: 50%;
  height: 600px;
  position: relative;
  object-fit: cover;
  margin-left: 22rem;
}

.Imagen4 {
  width: 30rem;
  height: 470px;
  position: relative;
  object-fit: cover;
  margin-left: 44rem;
}

.Imagen5 {
  width: 35rem;
  height: 470px;
  position: relative;
  object-fit: cover;
  margin-right: 44rem;
}

.Video {
  width: 30rem;
  height: 470px;
  position: relative;
  object-fit: cover;
  margin-left: 44rem;
}
